ol{
  font-size: small;
}

.scroll-container {
  max-height: 105px; /* Adjust height as needed */
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #000; /* Optional border for styling */
}

header,p{
  font-weight:bold;
}